<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vodtest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="VOD Test"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LivestreamPlayer"></activity>
        <activity android:name=".LiveStreams" />
        <activity android:name=".Upload_Stream" />
        <activity android:name=".MyStudioActivity" />
        <activity android:name=".OtherProfileActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".DownloadPlayerActivity" />
        <activity
            android:name=".DownloadsActivity"
            android:label="Downloads" />
        <activity
            android:name=".Activity3"
            android:label="@string/action_activity3" />
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/action_profile" />
        <activity
            android:name=".VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".UploadVideoActivity"
            android:label="Upload video" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" />

        <activity
            android:name=".HomeActivity"
            android:label="Home" />
        <activity
            android:name=".AuthenticationActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>